
/* 1800/16px; 14px/16px дава font-size 
    @media (min-width: 112.5em) {
        html { font-size: 88%; }
         } */
    

/* 1280/16px; 12px/16px дава font-size */
/* @media (max-width: 80em) {
    html { font-size: 56.25%; }
     } */

/* 980/16px; 8px/16px дава font-size */
  /* @media (max-width: 61.25em) {
    html { font-size: 50%; }
     } */


/* 736/16px; 8px/16px дава font-size */
  /* @media (max-width: 46em) {
    html {font-size: 50%; }
} */



 